*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #222;
}

h1, h2, h3, p {
  font-family: helvetica;
}

p {
  margin-top: 0;
  color: white;
}

.clearfix {
  display: block;
  clear: both;
}

.header-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  height: 70px;
  color: white;
  padding: 0 30px;
  background: black;
  z-index: 1000;
}

.header-wrapper p {
  margin: 0 0 0 16px;
}

.header-wrapper h2 {
  margin: 10px 0 0 0;
}

h2.timeline-nav {
  margin: 0;
  height: 60px;
  position: absolute;
  top: 400px;
  color: white;
  font-size: 50px;
  text-align: center;
  width: 100%;
}

.previous,
.next {
  padding: 0 15px;
  margin: 0 30px;
  border-radius: 5px;
  background: rgba(0,0,0,0.5);
  cursor: pointer;
}

.timeline-wrapper {
  position: relative;
  top: 70px;
}

.timeline-inner {
  position: absolute;
  width: 100%;
  height: 800px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-container {
  height: 150px;
  width: 400px;
  max-width: 100%;
  margin-left: 10%;
  float: left;
  position: relative;
  top: 220px;
  padding: 25px;
  background: rgba(0,0,0,0.7);
  border-radius: 5px;
}

.dates {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  position: relative;
  top: 500px; 
  height: 90px;
}

.date-inner {
  width: 2000px;
  height: 75px;
}

.date-box {
  color: #ccc;
  padding: 12px 20px;
  height: 75px;
  width: 100px;
  float: left;
  background: #333;
  border-top: 2px solid #555;
  border-right: 2px solid #555;
  border-bottom: 2px solid #555;
  cursor: pointer;
}

.date-box.selected {
  background: #777;
}

.date-box.selected p {
  color: white;
}

.date-box:hover {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
}

.date-box.selected:hover {
  box-shadow: none;
}

.date-box:first-child {
  border-left: 2px solid #555;
}

.date-box p {
  text-align: center;
  color: #dadada;
}

p.year {
  font-size: 20px;
  margin-bottom: 2px;
}

p.month {
  font-size: 18px;
}

.container {
  width: 960px;
  margin: 0 auto;
  max-width: 100%;
  padding: 15px;
  clear: both;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {

  .text-container {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 400px) {

  .text-container {
    padding: 12px;
  }
  .header-wrapper h2 {
    font-size: 20px;
    text-align: center;
  }
  .header-wrapper p{
    margin: 0;
    text-align: center;
  }
}